* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 12px 0;
  top: 0;
  z-index: 999;
  transition: 0.3s linear;
}

.inner-width {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  color: white;
}

.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.navbar .shadow {
  text-shadow: 2px 2px 10px #111;
}

.navbar .menu-toggler span {
  display: block;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}

.navbar-menu a {
  margin: 6px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s linear;
}

.navbar-menu a:hover {
  color: #48dbfd !important;
}

.sticky {
  background-color: white;
  padding: 12px 0;
}

.sticky .logo,
.sticky .navbar-menu a {
  color: #111;
}

.sticky .menu-toggler span {
  background-color: #111;
}

#home {
  height: 100vh;
  min-height: 500px;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(60%);
}

#home .inner-width {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content {
  width: 100%;
  color: white;
}

#home .content h1 {
  font-size: 40px;
  margin-bottom: 40px;
  text-shadow: 5px 5px 10px black;
}

#home .content h1::after {
  content: " Finma";
  animation: textanim 10s linear infinite;
}

@keyframes textanim {
  50% {
    content: " college student";
  }
  100% {
    content: " web developer";
  }
}

.sm a {
  color: white;
  font-size: 22px;
  margin: 0 10px;
  transition: 0.2s linear;
}

.sm a:hover {
  color: #48dbfd;
}

#home .buttons {
  margin-top: 48px;
}

#home .buttons a {
  display: inline-block;
  margin: 14px 28px;
  color: #48dbfd;
  font-size: 15px;
  font-weight: 500;
  width: 180px;
  border: 1px solid;
  padding: 12px 0;
  border-radius: 6px;
  transition: 0.2s linear;
}

#home .buttons a:hover {
  background-color: #48dbfd;
  color: white;
}

/* Media Screen */
@media screen and (max-width: 640px) {
  .menu-toggler {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 220px;
    padding: 50px 30px;
    transition: 0.3s linear;
  }

  .navbar-menu a {
    display: block;
    font-size: 18px;
    margin: 30px 0;
  }

  .sticky .navbar-menu {
    background-color: #f1f1f1;
  }

  .navbar-menu.active {
    right: 0;
  }

  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }
}
